body{
    font-family:Arial;
    background:#f4f4f4;
    margin:0;
    padding:20px;
}

.page{
    max-width:1000px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
}

.hidden{
    display:none;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}

.boisson{
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
}

.boisson input{
    width:100px;
}

.rapport{
    border:1px solid #ccc;
    padding:15px;
    margin-bottom:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

td,th{
    border:1px solid #ccc;
    padding:10px;
}
